body {
    color: $color-grey;
    line-height: 1.5;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    padding: 30px;
}

.heading-primary {
    color: $color-white;
    margin-bottom: 60px;
    text-transform: uppercase;
    &--main {
        animation: moveInLeft 1s ease-out;
        display: block;
        font-size: 6.2rem;
        font-weight: 400;
        letter-spacing: 15px;
        @include respond(phone) {
            font-size: 5rem;
            letter-spacing: 1rem;
        }
    }
    &--sub {
        animation: moveInRight 1s ease-out;
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 18px;
        @include respond(phone) {
            letter-spacing: .5rem;
        }
    }
}

.heading-secondary {
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    color: transparent;
    cursor: pointer;
    display: inline-block;
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 2rem;
    text-transform: uppercase;
    transition: all .2s;
    &:hover {
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
        transform: skewY(5deg) scale(1.1);
    }
    @include respond(tab-port) {
        font-size: 3rem;
    }
    @include respond(phone) {
        font-size: 3rem;
    }
}

.heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
    font-size: 1.6rem;
}
