@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  color: #777;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  padding: 30px;
}

.heading-primary {
  color: #fff;
  margin-bottom: 60px;
  text-transform: uppercase;
}
.heading-primary--main {
  animation: moveInLeft 1s ease-out;
  display: block;
  font-size: 6.2rem;
  font-weight: 400;
  letter-spacing: 15px;
}
.heading-primary--sub {
  animation: moveInRight 1s ease-out;
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 18px;
}

.heading-secondary {
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, #8e9efc, #1c3eff);
  color: transparent;
  cursor: pointer;
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 2rem;
  text-transform: uppercase;
  transition: all 0.2s;
}
.heading-secondary:hover {
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: skewY(5deg) scale(1.1);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-big {
  margin-top: 8rem;
}

.bg-video {
  height: 100%;
  opacity: 0.2;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
.bg-video__content {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.btn::after {
  border-radius: inherit;
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.4s;
  width: 100%;
  z-index: -1;
}
.btn:link, .btn:visited {
  border-radius: 100px;
  display: inline-block;
  font-size: 1.6rem;
  padding: 15px 40px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}
.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s backwards;
}
.btn--blue {
  background-color: #5a73fc;
  color: #fff;
}
.btn--blue::after {
  background-color: inherit;
}
.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--white::after {
  background-color: inherit;
}
.btn:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}
.btn:hover::after {
  opacity: 0;
  transform: scaleX(1.4) scaleY(1.6);
}
.btn:active {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  outline: none;
  transform: translateY(-1px);
}

.btn-text {
  transition: all 0.2s;
}
.btn-text:link, .btn-text:visited {
  border-bottom: 1px solid #5a73fc;
  color: #5a73fc;
  display: inline-block;
  font-size: 1.6rem;
  padding: 0.3rem;
  text-decoration: none;
}
.btn-text:hover {
  background-color: #5a73fc;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  color: #fff;
  transform: translateY(-0.2rem);
}
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.card {
  height: 45rem;
  perspective: 150rem;
  position: relative;
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 90%;
}
.card__details {
  color: #777;
  padding: 3rem;
}
.card__details ul {
  list-style: none;
  margin: 0 auto;
  width: 70%;
}
.card__details ul li {
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.card__heading {
  color: #fff;
  font-size: 2.8rem;
  font-weight: 300;
  position: absolute;
  top: 12rem;
  right: 2rem;
  text-align: right;
  text-transform: uppercase;
  width: 75%;
}
.card__heading-span {
  border-radius: 5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 1rem 1.5rem;
}
.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}
.card__heading-span--2 {
  background-image: linear-gradient(to right bottom, rgba(142, 158, 252, 0.85), rgba(28, 62, 255, 0.85));
}
.card__heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.85), rgba(40, 180, 133, 0.85));
}
.card__picture {
  background-blend-mode: screen;
  background-size: cover;
  clip-path: ellipse(80% 70% at 50% 30%);
  height: 23rem;
}
.card__picture--1 {
  background-image: linear-gradient(to right, #ffb900, #ff7730), url("../img/involve1.jpg");
}
.card__picture--2 {
  background-image: linear-gradient(to right, #8e9efc, #1c3eff), url("../img/involve2.jpg");
}
.card__picture--3 {
  background-image: linear-gradient(to right, #55c57a, #28b485), url("../img/involve3.jpg");
}
.card__price-box {
  color: #fff;
  margin-bottom: 8rem;
  text-align: center;
}
.card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.card__price-value {
  font-size: 6rem;
  font-weight: 100;
  margin-bottom: 5rem;
}
.card__side {
  backface-visibility: hidden;
  border-radius: 5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 2rem;
  height: inherit;
  overflow: hidden;
  position: absolute;
  transition: all 0.8s ease;
  top: 0;
  left: 0;
  width: 100%;
}
.card__side--back {
  background-color: green;
  transform: rotateY(180deg);
}
.card__side--back-1 {
  background-image: linear-gradient(to right, #ffb900, #ff7730);
}
.card__side--back-2 {
  background-image: linear-gradient(to right, #8e9efc, #1c3eff);
}
.card__side--back-3 {
  background-image: linear-gradient(to right, #55c57a, #28b485);
}
.card__side--front {
  background-color: #fff;
}

.composition {
  position: relative;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.9);
}
.composition__photo {
  border-radius: 0.2rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  outline-offset: 1rem;
  position: absolute;
  transition: all 0.2s;
  width: 50%;
  z-index: 10;
}
.composition__photo:hover {
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  outline: 1.5rem solid #5a73fc;
  transform: scale(1.05);
  z-index: 20;
}
.composition__photo--p1 {
  left: 0;
  top: -2rem;
}
.composition__photo--p2 {
  right: 2rem;
  top: 2rem;
}
.composition__photo--p3 {
  left: 10%;
  top: 10rem;
}

.enroll {
  background-image: radial-gradient(150% 200% ellipse at -15%, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url("../img/background3.jpg");
  background-size: cover;
  border-radius: 5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  height: 50rem;
}
.enroll__form {
  padding: 6rem;
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__label {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  transition: all 0.3s;
}
.form__input {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  border-radius: 0.2rem;
  color: inherit;
  display: block;
  font-family: inherit;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  transition: all 0.3s;
  width: 80%;
}
.form__input:focus {
  border-bottom: 3px solid #5a73fc;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  outline: none;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.form__input::-webkit-input-placeholder {
  color: #777;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  transform: translateY(-4rem);
  transition: all 0.3s;
  visibility: hidden;
}
.form__radio-button {
  border: 5px solid #5a73fc;
  border-radius: 10rem;
  display: inline-block;
  height: 3rem;
  position: absolute;
  top: -0.4rem;
  left: 0;
  width: 3rem;
}
.form__radio-button::after {
  background-color: #5a73fc;
  border: 5px solid #5a73fc;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 1.2rem;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.2rem;
}
.form__radio-label {
  cursor: pointer;
  font-size: 1.6rem;
  padding-left: 5rem;
  position: relative;
}
.form__radio-group {
  display: inline-block;
  width: 45%;
}
.form__radio-input {
  display: none;
}
.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}

.skill-box {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  font-size: 1.5rem;
  padding: 2.5rem 2.5rem 5rem 2.5rem;
  text-align: center;
  transition: all 0.2s;
}
.skill-box:hover {
  cursor: pointer;
  transform: translateY(-1.5rem) scale(1.03);
}
.skill-box__icon {
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, #8e9efc, #1c3eff);
  color: transparent;
  display: inline-block;
  font-size: 6rem;
  margin-bottom: 1.5rem;
}

.testimonial {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100rem;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.15);
  font-size: 1.6rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 6rem;
  padding-left: 9rem;
  width: 80%;
}
.testimonial:hover .testimonial__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.testimonial:hover .testimonial__img {
  filter: blur(0.5rem) brightness(70%);
  transform: scale(1.05);
}
.testimonial__caption {
  color: #fff;
  font-size: 1.7rem;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  text-transform: uppercase;
  transform: translate(-50%, 20%);
  transition: all 0.5s;
}
.testimonial__img {
  transform: translateY(-2rem);
  transition: all 0.3s;
  width: 100%;
}
.testimonial__shape {
  background-color: #fff;
  clip-path: circle(50% at 50% 50%);
  float: left;
  height: 15rem;
  margin-top: -2rem;
  position: relative;
  shape-outside: circle(50% at 50% 50%);
  transform: translateX(-3rem);
  width: 15rem;
}

.footer {
  background-color: #333;
  color: #f7f7f7;
  font-size: 1.4rem;
  padding: 10rem 0;
}
.footer__copyright {
  border-top: 1px solid #f7f7f7;
  float: right;
  padding-top: 2rem;
  width: 70%;
}
.footer__item {
  display: inline-block;
}
.footer__item:not(:last-child) {
  margin-right: 1.5rem;
}
.footer__link:link, .footer__link:visited {
  background-color: #333;
  border-radius: 5rem;
  color: #f7f7f7;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s;
}
.footer__link:hover, .footer__link:active {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  color: #5a73fc;
  transform: rotate(5deg) scale(1.05);
}
.footer__list {
  list-style: none;
}
.footer__logo {
  height: auto;
  width: 20rem;
}
.footer__logo-box {
  margin-bottom: 8rem;
  text-align: center;
}
.footer__navigation {
  border-top: 1px solid #f7f7f7;
  display: inline-block;
  padding-top: 2rem;
}
.footer__title {
  color: #5a73fc;
  display: block;
}

.header {
  background-image: linear-gradient(to right bottom, rgba(142, 158, 252, 0.8), rgba(28, 62, 255, 0.8)), url("../img/background1.jpg");
  background-position: top;
  background-size: cover;
  clip-path: ellipse(60% 60% at 50% 30%);
  height: 95vh;
  position: relative;
}
.header__logo {
  height: 70px;
}
.header__logo-box {
  left: 30px;
  position: absolute;
  top: 30px;
}
.header__text-box {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.row {
  margin: 0 auto;
  max-width: 114rem;
}
.row::after {
  clear: both;
  content: "";
  display: table;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}

.col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.col-1-of-3 {
  width: calc((100% - 2*6rem) / 3);
}

.col-1-of-4 {
  width: calc((100% - 3*6rem) / 4);
}

.section-about {
  background-color: #f7f7f7;
  margin-top: -25rem;
  padding: 25rem 0;
}

.section-courses {
  background-color: #f7f7f7;
  margin-top: -20rem;
  padding: 25rem 0 10rem 0;
}

.section-enroll {
  background-image: linear-gradient(to right bottom, #8e9efc, #1c3eff);
  padding: 10rem 0;
}

.section-skills {
  background-image: linear-gradient(to right bottom, rgba(142, 158, 252, 0.8), rgba(28, 62, 255, 0.8)), url("../img/background2.jpg");
  background-size: cover;
  clip-path: ellipse(70% 50% at 50% 50%);
  margin-top: -20rem;
  padding: 20rem 0;
  position: relative;
}

.section-testimonials {
  padding: 5rem 0;
  position: relative;
}

/*# sourceMappingURL=style.css.map */
