@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  color: #777;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  padding: 30px;
}

.heading-primary {
  color: #fff;
  margin-bottom: 60px;
  text-transform: uppercase;
}
.heading-primary--main {
  animation: moveInLeft 1s ease-out;
  display: block;
  font-size: 6.2rem;
  font-weight: 400;
  letter-spacing: 15px;
}
.heading-primary--sub {
  animation: moveInRight 1s ease-out;
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 18px;
}

.heading-secondary {
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, #8e9efc, #1c3eff);
  color: transparent;
  cursor: pointer;
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 2rem;
  text-transform: uppercase;
  transition: all 0.2s;
}
.heading-secondary:hover {
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: skewY(5deg) scale(1.1);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.btn::after {
  border-radius: inherit;
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.4s;
  width: 100%;
  z-index: -1;
}
.btn:link, .btn:visited {
  border-radius: 100px;
  display: inline-block;
  font-size: 1.6rem;
  padding: 15px 40px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}
.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s backwards;
}
.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--white::after {
  background-color: inherit;
}
.btn:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}
.btn:hover::after {
  opacity: 0;
  transform: scaleX(1.4) scaleY(1.6);
}
.btn:active {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  outline: none;
  transform: translateY(-1px);
}

.btn-text {
  transition: all 0.2s;
}
.btn-text:link, .btn-text:visited {
  border-bottom: 1px solid #5a73fc;
  color: #5a73fc;
  display: inline-block;
  font-size: 1.6rem;
  padding: 0.3rem;
  text-decoration: none;
}
.btn-text:hover {
  background-color: #5a73fc;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  color: #fff;
  transform: translateY(-0.2rem);
}
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.composition {
  position: relative;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.9);
}
.composition__photo {
  border-radius: 0.2rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  outline-offset: 1rem;
  position: absolute;
  transition: all 0.2s;
  width: 50%;
  z-index: 10;
}
.composition__photo:hover {
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  outline: 1.5rem solid #5a73fc;
  transform: scale(1.05);
  z-index: 20;
}
.composition__photo--p1 {
  left: 0;
  top: -2rem;
}
.composition__photo--p2 {
  right: 2rem;
  top: 2rem;
}
.composition__photo--p3 {
  left: 10%;
  top: 10rem;
}

.header {
  background-image: linear-gradient(to right bottom, rgba(142, 158, 252, 0.8), rgba(28, 62, 255, 0.8)), url("../img/background1.jpg");
  background-position: top;
  background-size: cover;
  clip-path: ellipse(60% 60% at 50% 30%);
  height: 95vh;
  position: relative;
}
.header__logo {
  height: 70px;
}
.header__logo-box {
  left: 30px;
  position: absolute;
  top: 30px;
}
.header__text-box {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.row {
  margin: 0 auto;
  max-width: 114rem;
}
.row::after {
  clear: both;
  content: "";
  display: table;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}

.col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.section-about {
  background-color: #f7f7f7;
  margin-top: -25rem;
  padding-top: 25rem;
}

/*# sourceMappingURL=style.css.map */
