* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #777;
    line-height: 1.5;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 30px;
}

header {
    background-image: linear-gradient(to right bottom, rgba(142, 158, 252, .8), rgba(28, 62, 255, .8)), url("../img/background1.jpg");
    background-position: top;
    background-size: cover;
    clip-path: ellipse(60% 60% at 50% 30%);
    height: 95vh;
    position: relative;
}

.btn,
.btn:link,
.btn:visited {
    border-radius: 100px;
    display: inline-block;
    font-size: 16px;
    padding: 15px 40px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

.btn::after {
    border-radius: inherit;
    content: "";
    display: inline-block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all .4s;
    width: 100%;
    z-index: -1;
}

.btn:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
    transform: translateY(-3px);
}

.btn:hover::after {
    opacity: 0;
    transform: scaleX(1.4) scaleY(1.6);
}

.btn:active {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    outline: none;
    transform: translateY(-1px);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn-white::after {
    background-color: inherit;
}

.heading-primary {
    color: #fff;
    margin-bottom: 60px;
    text-transform: uppercase;
}

.heading-primary__main {
    display: block;
    font-size: 62px;
    font-weight: 400;
    letter-spacing: 15px;
}

.heading-primary__sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 18px;
}

.logo {
    height: 70px;
}

.logo-box {
    left: 30px;
    position: absolute;
    top: 30px;
}

.text-box {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}
